@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
        --cor-primaria: #3003f7; 
        --cor-secundaria: #4858e7;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}
.logo span {
    color: var(--cor-primaria);
}
.navigation {
    margin-left: 10px;
}
.navigation a {
    font-size: 1.1em;
    color: var(--cor-primaria);
    background: transparent;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: white;
    background-color: var(--cor-primaria);
    border-radius: 25px;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
}
.btn-msg {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: var(--cor-primaria);
    border-radius: 10px;
    border: 2px solid var(--cor-primaria);
    font-weight: 500;
    transition: .3s;
}
.btn-msg:hover {
    color: var(--cor-primaria);
    background: transparent;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.conteudo-home {
    max-width: 500px;
    color: #555;
}
.conteudo-home h2 {
    font-size: 3em;
}
.conteudo-home h2 span {
    color: var(--cor-primaria);
}
.conteudo-home h3 {
    font-size: 2em;
}
.conteudo-home h3 span {
    color: var(--cor-secundaria);
}
.conteudo-home p {
    padding: 10px 0 40px 0;
}
.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: var(--cor-primaria);
    border-radius: 10px;
    border: 2px solid var(--cor-primaria);
    font-weight: 500;
    transition: .3s;
}
.btn-group a:hover:nth-child(1) {
    color: var(--cor-primaria);
    background: transparent;
}
.btn-group a:nth-child(2) {
    color: var(--cor-primaria);
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: var(--cor-primaria);
}
.social-icons {
    position: fixed;
    bottom: 50px;
}
.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: var(--cor-primaria);
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid var(--cor-primaria);
    transition: .3s;
}
.social-icons a:hover {
    transform: translateY(-5px);
}
.social-icons a i {
    color: #fff;
}

h2.tittle {
    padding-left: 100px;
    font-size: 3em;
    color: var(--cor-primaria);
}

footer {
    background-color: var(--cor-primaria);
    padding: 50px;
}

footer p {
    text-align: center;
    color: white;
}